nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    font-size: 16px;
    color: #343a40;
    border: 2px solid #343a40;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: #343a40;
      color: white;
    }
  }
}
